{{template "views/header" .}}

<div class="min-h-screen flex">
  <div class="flex-1">
    <div class="p-4">
      <h1 class="p-2 text-white text-2xl">Film List</h1>
      <div class="overflow-x-auto">
        <table id="film-list" class="table table-zebra table-fixed">
          <!-- head -->
          <thead>
          <tr>
            <th class="w-12">
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <th>Title</th>
            <th>Director</th>
          </tr>
          </thead>
          <tbody>

          {{ range .Films }}
          {{ block "film-list-element" .}}
          <tr>
            <th class="w-12">
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <td>{{ .Title }}</td>
            <td>{{ .Director }}</td>
          </tr>
          {{ end }}
          {{ end }}
          </tbody>
        </table>
      </div>

      <div class="join p-1">
        <button class="join-item btn btn-outline">Previous page</button>
        <button class="join-item btn btn-outline">1</button>
        <button class="join-item btn btn-outline btn-active">2</button>
        <button class="join-item btn btn-outline btn-disabled">...</button>
        <button class="join-item btn btn-outline">8</button>
        <button class="join-item btn btn-outline">9</button>
        <button class="join-item btn btn-outline">Next</button>
      </div>
    </div>
  </div>
  <div class="flex-1">
    <div class="p-4">
      <h1 class="p-2 text-white text-2xl">Add Film</h1>

      <form hx-post="/films" hx-target="#film-list" hx-swap="beforeend" hx-indicator="#spinner">
        <p class="p-1">
          <input type="text" placeholder="Title" name="title" id="film-title" class="input input-bordered w-full" />
        </p>
        <p class="p-1">
          <input type="text" placeholder="Director" name="director" id="film-director" class="input input-bordered w-full" />
        </p>

        <p class="p-1">
          <button type="submit" class="btn btn-outline btn-wide">
            <span class="htmx-indicator loading loading-spinner hidden" id="spinner" role="status" aria-hidden="true"></span>
            Submit
          </button>
        </p>
      </form>

      <ul class="menu menu-horizontal bg-base-200 rounded-box">
        <li><a hx-post="/generators/films/10" hx-target="#film-list" hx-swap="beforeend" class="link-primary">Gen 10</a></li>
        <li><a hx-post="/generators/films/25" hx-target="#film-list" hx-swap="beforeend" class="link-secondary">Gen 25</a></li>
        <li><a hx-post="/generators/films/50" hx-target="#film-list" hx-swap="beforeend" class="link-accent">Gen 50</a></li>
      </ul>
    </div>
  </div>
</div>
