package view

templ Home() {
    <div class="component-preview not-prose text-base-content my-6 lg:my-12">
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-ld">
                    <h1 class="text-5xl font-bold">Home</h1>
                    <p class="py-4">Create with the following open source technologies.</p>
                    <p class="py-4">
                        <a class="btn btn-accent" href="https://go.dev/" target="_blank">Go</a>
                        <a class="btn btn-accent" href="https://gofiber.io/" target="_blank">Fiber</a>
                        <a class="btn btn-primary" href="https://htmx.org/" target="_blank">htmx</a>
                        <a class="btn btn-primary" href="https://alpinejs.dev/" target="_blank">AlpineJS</a>
                        <a class="btn btn-secondary" href="https://daisyui.com/" target="_blank">Daisy UI</a>
                        <a class="btn btn-secondary" href="https://tailwindcss.com/" target="_blank">TailwindCSS</a>
                        <a class="btn btn-neutral" href="https://taskfile.dev/" target="_blank">Task</a>
                        <a class="btn btn-neutral" href="https://zitadel.com/" target="_blank">Zitadel</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
}