<div class="min-h-screen flex">
  <div class="flex-1" id="movie-list">

    {{template "templates/films_list" .}}

  </div>
  <div class="flex-1">
    <div class="p-4">
      <h1 class="p-2 text-white text-2xl">Add Film</h1>

      <form hx-post="/films" hx-target="#wrapper" hx-swap="innerHTML" hx-indicator="#spinner">
        <p class="p-1">
          <input type="text" placeholder="Title" name="title" id="film-title" class="input input-bordered w-full" />
        </p>
        <p class="p-1">
          <input type="text" placeholder="Director" name="director" id="film-director" class="input input-bordered w-full" />
        </p>

        <div class="float-none p-2">
          <p class="float-left">
            <button type="submit" class="btn btn-outline btn-wide">
              <span class="htmx-indicator loading loading-spinner hidden" id="spinner" role="status" aria-hidden="true"></span>
              Submit
            </button>
          </p>
          <p class="float-right">
            <a hx-post="/generators/films/2"
               hx-replace-url="false"
               hx-target="#movie-list"
               hx-swap="innerHTML"
               class="btn btn-accent btn-outline">Gen 2</a>
            <a hx-post="/generators/films/10"
               hx-replace-url="false"
               hx-target="#movie-list"
               hx-swap="innerHTML"
               class="btn btn-primary btn-outline">Gen 10</a>
            <a hx-post="/generators/films/25"
               hx-replace-url="false"
               hx-target="#movie-list"
               hx-swap="innerHTML"
               class="btn btn-secondary btn-outline">Gen 25</a>
            <a hx-delete="/films"
               hx-replace-url="false"
               hx-target="#movie-list"
               hx-swap="innerHTML"
               class="btn btn-error btn-outline">Delete All</a>
          </p>
        </div>
      </form>

    </div>
  </div>
</div>

<script src="/assets/films.js"></script>
