{{ $path := .Path }}
<div class="join p-1 py-4">
    <!-- prev -->
    <a class="join-item btn btn-outline{{if le .CurrentPage 1}} btn-disabled{{end}}" href="{{ $path }}{{ .Prev }}">Previous page</a>
    <!-- beginning -->
    {{ range .Beginning }}
    <a class="join-item btn btn-outline" href="{{ $path }}{{ . }}">{{ . }}</a>
    {{ end }}
    <!-- sep -->
    {{if .Beginning }}
    <a class="join-item btn btn-outline btn-disabled">...</a>
    {{end}}
    <!-- current block -->
    {{ range .PreActive }}
    <a class="join-item btn btn-outline" href="{{ $path }}{{ . }}">{{ . }}</a>
    {{ end }}
    <span class="join-item btn btn-outline btn-active">{{ .CurrentPage }}</span>
    {{ range .PostActive }}
    <a class="join-item btn btn-outline" href="{{ $path }}{{ . }}">{{ . }}</a>
    {{ end }}
    <!-- end of current -->
    <!-- sep -->
    {{if .End }}
    <a class="join-item btn btn-outline btn-disabled">...</a>
    {{end}}
    <!-- end -->
    {{ range .End }}
    <a class="join-item btn btn-outline" href="{{ $path }}{{ . }}">{{ . }}</a>
    {{ end }}
    <!-- next -->
    <a class="join-item btn btn-outline{{if eq .Next .CurrentPage}} btn-disabled{{end}}" href="{{ $path }}{{ .Next }}">Next page</a>
</div>